body
{
    background-color: green;
}

#gameWindow
{
    position: absolute;
    height: 70%;
    width: 66%;
    left: 2.6%;
    top: 4.6%;
    border-radius: 10px;
    border: solid;
}

#textWindow
{
    position: absolute;
    height: 55%;
    width: 28%;
    left: 70%;
    top: 50px;
    border-radius: 10px;
    border: solid;
}

#itemWindow
{
    position: absolute;
    height: 30%;
    width: 28%;
    left: 70%;
    top: 63%;
    border-radius: 10px;
    border: solid;
}

#compassBG
{
    position: fixed;
    background-color: gray;
    left: 33%;
    margin-left: -25px;
    top: 77%;
    padding: 15px;
    height: 150px;
    width: 150px;
    border-radius: 45px;
    border: solid;
}

.compassButton
{
    height: 55px;
    width: 55px;
    border-radius: 12px;
    border: solid;
}

#North
{
    position: absolute;
    left: 65px;
}

#West
{
    position: absolute;
    top: 65px;
}

#East
{
    position: absolute;
    left: 115px;
    top: 65px;
}


#South
{
    position: absolute;
    left: 65px;
    top: 115px;
}


