body
{
    overflow: hidden;
}

@media only screen 
{
    #gameWorldMap
    {
        position: absolute;
        left: -100px;
        top: -88px;
    }
    
    #characterSpriteDown
    {
        position: absolute;
        top: 100px;
        left: 109px;
    }
}

@media only screen and (min-width: 64.063em) 
{ 
    #gameWorldMap
    {
        position: absolute;
        left: -96px;
        top: -88px;
    }
    
    #characterSpriteDown
    {
        position: absolute;
        top: 100px;
        left: 209px;
    }
}
