body
{
    overflow: hidden;
}

#gameWorldMap
{
    position: absolute;
    left: -96px;
    top: -88px;
}

#characterSpriteDown
{
    position: absolute;
    top: 100px;
    left: 209px;
}
