body
{
    overflow: hidden;
}

#gameWorldMap
{
    position: absolute;
    left: 96px;
    top: 5px;
}

#characterSprite
{
    position: absolute;
    top: 100px;
    left: 209px;
}
